{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Электролизёр{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'svg/icon.svg' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
</head>
<body>
{% cache 0 base_navbar %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}"><i
                                    class="fas fa-table"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'chart' %}"><i
                                    class="fas fa-chart-line"></i></a>
                        </li>
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'upload_file' %}"><i
                                        class="fas fa-upload"></i></a>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tb_add' %}"><i
                                        class="fas fa-plus"></i></a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "create_user" %}"><i
                                        class="fa-solid fa-user-plus"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "change_password" %}"><i
                                        class="fa-sharp fa-solid fa-key"></i></a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'profile' %}" class="nav-link"><i
                                        class="fa-sharp fa-solid fa-id-card"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}"><i
                                        class="fas fa-sign-out-alt"></i></a>
                            </li>
                        {% else %}
                            <li class="nav-item ms-auto">
                                <a class="nav-link" href="#" data-bs-toggle="modal"
                                   data-bs-target="#loginModal"><i
                                        class="fa-solid fa-right-to-bracket"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endcache %}


<div class="d-flex flex-column min-vh-100">

    <main>
        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Вход</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Login form -->
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="loginUsername" class="form-label">Логин</label>
                                <input type="text" class="form-control" id="loginUsername"
                                       name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="loginPassword" class="form-label">Пароль</label>
                                <input type="password" class="form-control" id="loginPassword"
                                       name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark text-white py-4 mt-auto">
        <div class="container">
            <p class="mb-0">&copy; 2023 Электролизёры РУСАЛ</p>
        </div>
    </footer>

</div>
</body>
</html>
