{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Изменение пароля</h1>
    <div class="row">
        <div class="col-md-6">
        <div id="messages"></div>
<form id="changePasswordForm">
    {% csrf_token %}
    <div class="mb-3">
        <label for="user" class="form-label">Пользователь</label>
        <select id="user" name="user" class="form-control">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
            {% if field.name == 'new_password1' %}
                Новый пароль
            {% elif field.name == 'new_password2' %}
                Подтверждение нового пароля
            {% else %}
                {{ field.label }}
            {% endif %}
            </label>
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Изменить пароль</button>
</form>
     </div>
    </div>
        </div>
{% endblock %}
{% block extra_js %}
   <script>
       $(document).ready(function() {
    $('#changePasswordForm').on('submit', function(event) {
        event.preventDefault();

        $.ajax({
            url: '{% url 'change_password' %}',
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(data) {
                // Clear previous messages
                $('#messages').empty();
                $('.invalid-feedback').remove();

                // Show success message
                $('#messages').html('<div class="alert alert-success">' + data.message + '</div>');
            },
            error: function(data) {
                // Clear previous messages
                $('#messages').empty();
                $('.invalid-feedback').remove();

                // Show errors
                $.each(data.responseJSON.errors, function(key, value) {
                    $('#' + key).after('<div class="invalid-feedback">' + value + '</div>');
                    $('#messages').append('<div class="alert alert-danger">' + value + '</div>');
                });
            }
        });
    });
});

</script>
{% endblock %}
