{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}График{% endblock %}
{% block content %}
    <h1>Диаграмма сроков службы</h1>
    <form method="post" id="chart-form" class="row">
        <div class="form-group col-md-3 mb-3">
            <label for="factory" class="form-label">Завод:</label>
            <select id="factory" class="form-control form-select">
                <option disabled selected value>(Пусто)</option>
            </select>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="building" class="form-label">Корпус:</label>
            <select id="building" class="form-control form-select" disabled>
                <option disabled selected value>(Пусто)</option>
            </select>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="part-type" class="form-label">Тип:</label>
            <select id="part-type" class="form-control form-select">
                <option disabled selected value>(Пусто)</option>
            </select>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="start-date" class="form-label">Дата начала:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="end-date" class="form-label">Дата конца:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="forecast-date" class="form-label">Дата прогноза:</label>
            <input type="date" id="forecast-date" class="form-control">
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Обновить">
        </div>
    </form>
    <div id="chart"></div>

    <div class="table-responsive">
        <table id="tableforecast" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Корпус</th>
                <th scope="col">Тип</th>
                <th scope="col">Даты</th>
                <th scope="col">Действующих, шт</th>
                <th scope="col">Дата прогноза</th>
                <th scope="col">Отключений, шт</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="building1"></td>
                <td id="type"></td>
                <td id="dates-range"></td>
                <td id="working-count"></td>
                <td id="est-date"></td>
                <td id="failed-count"></td>
            </tr>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        $(document).ready(function () {
            // TODO delete this
            window.onbeforeunload = function () {
                $('form').each(function () {
                    this.reset();
                });
            };
        });

        let chart_form = $('#chart-form');
        let factory = chart_form.find('#factory');
        let building = chart_form.find('#building');
        let part_type = chart_form.find('#part-type');
        let start_date = chart_form.find('#start-date');
        let end_date = chart_form.find('#end-date');
        let forecast_date = chart_form.find('#forecast-date');
        building.prop('disabled', true);

        $.getJSON("{% url 'get_factories' %}", function (response) {
            populate_options(factory, response);
        });

        $.getJSON("{% url 'get_part_types' %}", function (response) {
            populate_options(part_type, response);
        });

        $.getJSON("{% url 'get_oldest_date' %}", function (response) {
            start_date.val(response.date);
        });


        factory.on('input', function () {
            let factory_id = $(this).val().trim();
            if (factory_id !== '') {
                building.prop('disabled', false);
                $.getJSON("{% url 'get_buildings' %}", {factory_id: factory_id}, function (response) {
                    populate_options(building, response);
                });
            } else {
                building.prop('disabled', true);
            }
        });


        function populate_options(obj, values) {
            values.forEach(function (value) {
                let option = $('<option>');
                option.val(value.id);
                option.text(value.name);
                obj.append(option);
            })
        }

        function dateToString(date) {
            let month = '' + (date.getMonth() + 1),
                day = '' + date.getDate(),
                year = date.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        let today = new Date();
        let nextYear = new Date();

        nextYear.setFullYear(today.getFullYear() + 1);

        end_date.val(dateToString(today));
        forecast_date.val(dateToString(nextYear));

        chart_form.on('submit', function (e) {
            e.preventDefault();

            let form = $(this);
            let isValid = true;

            form.find('.form-control').each(function () {
                let value = $(this).val()
                if (value === null) {
                    isValid = false;
                    $(this).addClass('is-invalid');
                } else if (value.trim() === '') {
                    isValid = false;
                    $(this).addClass('is-invalid');
                } else {
                    $(this).removeClass('is-invalid');
                }
            });

            if (isValid) {
                update_chart();
            }
        });


        function update_chart() {
            let start_date_val = start_date.val();
            let end_date_val = end_date.val();
            let forecast_date_val = forecast_date.val();
            let part_type_val = part_type.val();
            let building_val = building.val();

            if (new Date(end_date_val) <= new Date(start_date_val) || new Date(forecast_date_val) <= new Date(end_date_val)) {
                alert('Неверные даты. Убедитесь, что Дата окончания > Дата начала и Дата прогноза > Дата окончания.');
                return;
            }

            $.getJSON("{% url 'get_electrolyzer_data' %}", {
                start_date: start_date_val,
                end_date: end_date_val,
                forecast_date: forecast_date_val,
                part_type: part_type_val,
                building: building_val,
            }, function (response) {
                let trace1 = {
                    x: response.weibull.x,
                    y: response.weibull.y,
                    mode: 'lines',
                    name: response.type,
                    line: {
                        shape: 'spline'
                    }
                };

                let trace2 = {
                    x: response.empirical.x,
                    y: response.empirical.y,
                    mode: 'lines',
                    name: response.type + " теор.",
                    line: {
                        shape: 'spline'
                    }
                };

                let data = [trace1, trace2];

                let layout = {
                    xaxis: {title: 'Накопленный (средний) срок службы, мес'},
                    yaxis: {title: 'Кол-во отключенных, %'},
                    autosize: true,
                    legend: {"orientation": "h"}
                };

                Plotly.newPlot('chart', data, layout);
            }).fail(function () {
                alert("Нет данных в выбранном диапазоне дат. Пожалуйста, выберите другой диапазон.");
            });
        }

        $(window).resize(function () {
            Plotly.relayout('chart', {
                'xaxis.autorange': true,
                'yaxis.autorange': true
            });
        });
    </script>
{% endblock %}
