{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}График{% endblock %}
{% block extra_js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
    <h1 class="text-center mb-5">Диаграмма сроков службы</h1>
    <form method="post" id="chart-form" class="row">
        <div class="form-group col-md-3 mb-3">
            <label for="factory" class="form-label">Завод:</label>
            <select id="factory" class="form-control form-select">
                <option disabled selected value>(Пусто)</option>
            </select>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="building" class="form-label">Корпус:</label>
            <select id="building" class="form-control form-select" disabled>
                <option disabled selected value>(Пусто)</option>
            </select>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="part-type" class="form-label">Тип:</label>
            <select id="part-type" multiple size="2" class="form-control form-select">
                <option disabled selected value>(Пусто)</option>
            </select>
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="start-date" class="form-label">Дата начала:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="end-date" class="form-label">Дата конца:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="form-group col-md-3 mb-3">
            <label for="forecast-date" class="form-label">Дата прогноза:</label>
            <input type="date" id="forecast-date" class="form-control">
        </div>
        <div class="col-12 mb-3">
            <input type="submit" class="btn btn-primary" value="Обновить">
        </div>
    </form>
    <div id="chart"></div>

    <table id="tableforecast" class="table table-striped table-bordered" hidden>
        <thead>
        <tr>
            <th scope="col">Завод</th>
            <th scope="col">Корпус</th>
            <th scope="col">Тип</th>
            {#                <th scope="col">Даты</th>#}
            <th scope="col">Действующих, шт</th>
            {#                <th scope="col">Дата прогноза</th>#}
            <th scope="col">Отключений, шт</th>
        </tr>
        </thead>
        <tbody>
    </table>
    <div id="download_button"></div>
    <script>
        $(document).ready(function () {
            // TODO delete this
            window.onbeforeunload = function () {
                $('form').each(function () {
                    this.reset();
                });
            };
        });

        let chart_form = $('#chart-form');
        let factory = chart_form.find('#factory');
        let building = chart_form.find('#building');
        let part_type = chart_form.find('#part-type');
        let start_date = chart_form.find('#start-date');
        let end_date = chart_form.find('#end-date');
        let forecast_date = chart_form.find('#forecast-date');
        let table = $('#tableforecast');
        building.prop('disabled', true);

        $.getJSON("{% url 'get_factories' %}", function (response) {
            populate_options(factory, response);
        });

        $.getJSON("{% url 'get_part_types' %}", function (response) {
            populate_options(part_type, response);
        });

        $.getJSON("{% url 'get_oldest_date' %}", function (response) {
            start_date.val(response.date);
        });


        factory.on('input', function () {
            let factory_id = $(this).val().trim();
            if (factory_id !== '') {
                building.prop('disabled', false);
                $.getJSON("{% url 'get_buildings' %}", {factory_id: factory_id}, function (response) {
                    populate_options(building, response);
                });
            } else {
                building.prop('disabled', true);
            }
        });


        function populate_options(obj, values) {
            values.forEach(function (value) {
                let option = $('<option>');
                option.val(value.id);
                option.text(value.name);
                obj.append(option);
            })
        }

        function dateToString(date) {
            let month = '' + (date.getMonth() + 1),
                day = '' + date.getDate(),
                year = date.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        let today = new Date();
        let nextYear = new Date();

        nextYear.setFullYear(today.getFullYear() + 1);

        end_date.val(dateToString(today));
        forecast_date.val(dateToString(nextYear));

        chart_form.on('submit', function (e) {
            e.preventDefault();
            update_chart();
        });


        function update_chart() {
            let start_date_val = start_date.val();
            let end_date_val = end_date.val();
            let forecast_date_val = forecast_date.val();
            let part_type_val = part_type.val();
            let building_val = building.val();


            $.ajax({
                url: "{% url 'get_chart' %}",
                method: 'POST',
                dataType: "json",
                traditional: true,
                data: {
                    start_date: start_date_val,
                    end_date: end_date_val,
                    forecast_date: forecast_date_val,
                    part_type: part_type_val,
                    building: building_val,
                },
                success: function (result) {
                    let data = [];
                    result.results.forEach(function (value) {
                        data.push({
                            x: value.weibull_x,
                            y: value.weibull_y,
                            mode: 'lines',
                            name: value.type,
                            line: {
                                shape: 'spline'
                            }
                        });

                        data.push({
                            x: value.empirical_x,
                            y: value.empirical_y,
                            mode: 'lines',
                            name: value.type + " теор.",
                            line: {
                                shape: 'spline'
                            }
                        });

                        let newRow = $('<tr>');

                        let factory = $('<td>').text(value.factory);
                        let building = $('<td>').text(value.building);
                        let type = $('<td>').text(value.type);
                        let working_count = $('<td>').text(value.working_count);
                        let failed_count = $('<td>').text(value.failed_count);

                        newRow.append(factory, building, type, working_count, failed_count);
                        table.prop('hidden', false);
                        table.append(newRow);
                    });

                    let layout = {
                        xaxis: {
                            title: 'Накопленный (средний) срок службы, мес',
                            automargin: true,
                        },
                        yaxis: {title: 'Кол-во отключенных, %'},
                        autosize: true,
                        colorway: ['#58bc82', '#8fe388', '#4A55A2', '#7895CB'],
                        legend: {"orientation": "h", y: -0.25}
                    };

                    Plotly.newPlot('chart', data, layout);

                    let base64Data = result.excel_file;
                    let binaryData = atob(base64Data);
                    let arrayBuffer = new ArrayBuffer(binaryData.length);
                    let uint8Array = new Uint8Array(arrayBuffer);
                    for (let i = 0; i < binaryData.length; i++) {
                        uint8Array[i] = binaryData.charCodeAt(i);
                    }

                    let blob = new Blob([uint8Array], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'});

                    let link = document.createElement('a');
                    link.innerText = 'Скачать отчет';
                    link.classList.add('my-3', 'btn', 'btn-primary');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'table_data.xlsx';
                    $('#download_button').html(link);
                }
            });
        }

        $(window).resize(function () {
            Plotly.relayout('chart', {
                'xaxis.autorange': true,
                'yaxis.autorange': true
            });
        });
    </script>
{% endblock %}
