{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="my-4 text-center">Профиль пользователя</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ username }}</h5>
                        <p class="card-text">У вас {% if is_superuser %}
                            <span class="text-decoration-underline" data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title="Пользователь, который с полным доступом прав">супер</span>
                        {% elif is_staff %}
                            <span class="text-decoration-underline" data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title="Пользователь, который с частичным доступом прав">повышенный</span>
                        {% else %}
                            <span class="text-decoration-underline" data-bs-toggle="tooltip"
                                  data-bs-placement="top"
                                  title="Пользователь, который с доступом к просмотру данных">обычный</span>
                        {% endif %}
                            уровень доступа.
                        </p>
                    </div>
                </div>
            </div>
            {% if is_staff %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Действия пользователей с повышенным уровнем доступа</h5>
                            <p class="card-text">
                                <a href="{% url 'fb_add' %}" class="custom-link">
                                    <i class="fa-solid fa-building me-2" aria-hidden="true"></i>
                                    Управление заводами и строениями
                                </a>
                            </p>
                            <p class="card-text">
                                <a href="{% url 'pt_list' %}" class="custom-link">
                                    <i class="fa-solid fa-vials me-2" aria-hidden="true"></i>
                                    Управление электролизёрами
                                </a>
                            </p>
                            <p class="card-text">
                                <a href="{% url 'upload_file' %}" class="custom-link">
                                    <i class="fa fa-upload me-2" aria-hidden="true"></i>
                                    Загрузить данные
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if is_superuser %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Действия суперпользователя</h5>
                            <p class="card-text">
                                <a href="{% url 'create_user' %}" class="custom-link">
                                    <i class="fa fa-user-plus me-2" aria-hidden="true"></i>
                                    Создать пользователя
                                </a>
                            </p>
                            <p class="card-text">
                                <a href="{% url 'change_password' %}" class="custom-link">
                                    <i class="fa fa-lock me-2" aria-hidden="true"></i>
                                    Сменить пароль
                                </a>
                            </p>
                            <p class="card-text">
                                <a href="{% url 'manage_users' %}" class="custom-link">
                                    <i class="fa-solid fa-user-xmark me-2" aria-hidden="true"></i>
                                    Удалить пользователя
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            {% endif %}
    {% block extra_js %}
        <script>
            var tooltips = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipInstances = tooltips.map(function (tooltip) {
                return new bootstrap.Tooltip(tooltip);
            });
        </script>
    {% endblock %}
{% endblock %}

