$white: #ffffff;

$theme-colors: (
    "light":      #ffffff,
    "dark":       #1a2332,
    "primary":    #26386f,
    "secondary":  #dc3838,
    "info":       #f3a524,
    "success":    #0ea761,
    "warning":    #e3cc0e,
    "danger":     #f31b05,
);


@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: map-get($theme-colors, light);
}

.large-checkbox {
	padding-top: 20px;
	font-size: 20px;
}

.chart-container {
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}

.custom-link {
    color: map-get($theme-colors, dark);
    text-decoration: none;
}

.custom-link:hover {
    color: map-get($theme-colors, dark);
    text-decoration: underline;
}


.menu_simple {
	width: 100%;
	background-color: #005555;
	ul {
		margin: 0;
		padding: 0;
		float: left;
		li {
			display: inline;
			a {
				float: left;
				text-decoration: none;
				color: white;
				padding: 10.5px 11px;
				background-color: #005555;
				&:visited {
					color: white;
				}
				&:hover {
					color: white;
					background-color: #5FD367;
				}
			}
			.current {
				color: white;
				background-color: #5FD367;
			}
		}
	}
}
